<!-- 这是用户查询订单界面
    参数：
        用户姓名(不是user_id)
        is_admin
        struct order(按照页面中调用的顺序)
        {
            trainid
            leaveLoc
            leaveDate
            leaveTime
            arriveLoc
            arriveDate
            arriveTime
             seats
            {

            }
        }
 -->
{% extends "base.html" %}

{% block css_files %}
{% endblock %}

{% block navbar_left %}
  {% if not is_admin %}
    <ul class="navbar-nav mr-auto" style="font-size: 22px">
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('home') }}">主页</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('query_tickets') }}">查询-购买</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('query_order') }}">我的订单<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('user_modify_profile') }}">修改个人信息</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('static',filename='index.html')}}">使用说明</a>
      </li>
    </ul>
  {% else %}
    <ul class="navbar-nav mr-auto" style="font-size: 22px">
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('home') }}">主页</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('query_tickets') }}">查询-购买</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('query_order') }}">我的订单<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('user_modify_profile') }}">修改个人信息</a>
      </li>
      <li>
        <a class="nav-link" href="{{ url_for('home') }}"> 数据库管理 </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('static',filename='index.html')}}">使用说明</a>
      </li>
    </ul>
  {% endif %}
{% endblock %}

{% block navbar_right %}
  <ul class="nav nav-pills">
    <li class="nav-item dropdown" style="font-size: 22px">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
         aria-expanded="false">Hi, {{ name }}</a>
      <div class="dropdown-menu" x-placement="bottom-start"
           style="font-size: 18px; position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 39px, 0px);">
        <a class="dropdown-item" href="#">我的信息</a>
        <a class="dropdown-item" href="#">我的订单</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="{{ url_for('logout') }}">注销</a>
      </div>
    </li>
  </ul>
{% endblock %}

{% block body %}

  <body background="{{ url_for('static', filename='background.jpg') }}">
  <!-- 主填充块 -->
  <!-- Bootstrap core JavaScript
      ================================================== -->
  <div class="jumbotron" style="opacity:0.9">

    <div class="container-fluid" style="background-color: white; margin-top: 50px">
      <h2>我的购票信息</h2>
      <br>
      <div class="row" style="text-align: center">
        <div class="col-md-1">
          <h4>序号</h4>
        </div>
        <div class="col-md-1">
          <h4>列车ID</h4>
        </div>
        <div class="col-md-8">
          <div class="row" style="text-align: center">
            <div class="col-md-2">
              <h4>始发站</h4>
            </div>
            <div class="col-md-2">
              <h4>出发日期</h4>
            </div>
            <div class="col-md-2">
              <h4>出发时间</h4>
            </div>
            <div class="col-md-2">
              <h4>终点站</h4>
            </div>
            <div class="col-md-2">
              <h4>到达日期</h4>
            </div>
            <div class="col-md-2">
              <h4>到达时间</h4>
            </div>
          </div>
        </div>
      </div>
      {% if orders != None %}
        {% for i in range(ticketlen) %}
          <br>
          <div class="row" style="text-align: center">
            <div class="col-md-1">
              <h4>{{ i + 1 }}</h4>
            </div>
            <div class="col-md-1">
              <h4>{{ orders[i].id }}</h4>
            </div>
            <div class="col-md-8">
              <div class="row" style="text-align: center">
                <div class="col-md-2" style="vertical-align:middle">
                  <h4 style="font-size: 20px">{{ orders[i].departure }}</h4>
                </div>
                <div class="col-md-2" style="vertical-align:middle">
                  <h4 style="font-size: 20px">{{ orders[i].leaveDate }}</h4>
                </div>
                <div class="col-md-2" style="vertical-align:middle">
                  <h4 style="font-size: 20px">{{ orders[i].leaveTime }}</h4>
                </div>
                <div class="col-md-2" style="vertical-align:middle">
                  <h4 style="font-size: 20px">{{ orders[i].destination }}</h4>
                </div>
                <div class="col-md-2" style="vertical-align:middle">
                  <h4 style="font-size: 20px">{{ orders[i].arriveDate }}</h4>
                </div>
                <div class="col-md-2" style="vertical-align:middle">
                  <h4 style="font-size: 20px">{{ orders[i].arriveTime }}</h4>
                </div>
              </div>
            </div>
            <div class="col-md-1">
              <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample{{ i }}"
                 aria-expanded="false"
                 aria-controls="collapseExample{{ i }}">
                车票信息
              </a>
            </div>
            <div class="col-md-1">
              <a class="btn btn-outline-primary" style="font-size: 18px; padding:5px">
                删除订单
              </a>
            </div>
          </div>
          <br>
          <div class="collapse" id="collapseExample{{ i }}">
            <div class="card card-block">
              <br>
              <div class="row">
                <div class="col-md-10">
                  <div class="row" style="text-align: center">
                    <div class="col-md-2">
                      <h4>座位序号</h4>
                    </div>
                    <div class="col-md-2">
                      <h4>座位名称</h4>
                    </div>
                    <div class="col-md-2">
                      <h4>购票张数</h4>
                    </div>
                    <div class="col-md-2">
                      <h4>车票价格</h4>
                    </div>
                    <div class="col-md-2">
                      <h4>退还票数</h4>
                    </div>
                  </div>
                </div>
                <br/>
              </div>
              {% for j in range(seatlens[i]) %}
                <br>
                <div class="row" style="text-align: center">
                  <div class="col-md-10">
                    <br>
                    <div class="row" style="text-align: center">
                      <div class="col-md-2">
                        <h5>{{ j + 1 }}</h5>
                      </div>
                      <div class="col-md-2">
                        <h5>{{ orders[i].seats[j]['seatname'] }}</h5>
                      </div>
                      <div class="col-md-2">
                        <h5>{{ orders[i].seats[j]['seatleft'] }}</h5>
                      </div>
                      <div class="col-md-2">
                        <h5>¥ {{ orders[i].seats[j]['price'] }}</h5>
                      </div>
                      <div class="col-md-2">
                        <div class="row" style="text-align: center">
                          <div class="col-md-2"></div>
                          <div class="col-md-8">
                            <input required type="number"
                                   name="refund_ticket{{ i + 1 }}{{ j + 1 }}" class="form-control h5"
                                   placeholder="票数{{ i + 1 }}{{ j  + 1 }}">
                          </div>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                          <a class="btn btn-outline-info" data-toggle="modal" data-target="#confirmModal">退票</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <br/>
              {% endfor %}
            </div>
          </div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
  </body>
{% endblock %}
