<!--
    变量清单:
        user_name
        is_admin
        success_info
        err_info
-->
{% extends "base.html" %}

{% block css_files %}
{% endblock %}

{% block navbar_left %}
  {% if not is_admin %}
    <ul class="navbar-nav mr-auto" style="font-size: 22px">
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('home') }}">主页</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('query_tickets') }}">查询-购买</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('query_order') }}">我的订单<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('user_modify_profile') }}">修改个人信息</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="{{url_for('static',filename='index.html')}}">使用说明</a>
      </li>
      <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="themes" aria-expanded="false">主题 <span class="caret"></span></a>
          <div class="dropdown-menu" aria-labelledby="themes">
            <a class="dropdown-item" id="Flatly">Default</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" id="Cerulean">Cerulean</a>
            <a class="dropdown-item" id="Cosmo">Cosmo</a>
            <a class="dropdown-item" id="Cyborg">Cyborg</a>
            <a class="dropdown-item" id="Darkly">Darkly</a>
            <a class="dropdown-item" id="Journal">Journal</a>
            <a class="dropdown-item" id="Litera">Litera</a>
            <a class="dropdown-item" id="Lumen">Lumen</a>
            <a class="dropdown-item" id="Lux">Lux</a>
            <a class="dropdown-item" id="Materia">Materia</a>
            <a class="dropdown-item" id="Minty">Minty</a>
            <a class="dropdown-item" id="Pulse">Pulse</a>
            <a class="dropdown-item" id="Sandstone">Sandstone</a>
            <a class="dropdown-item" id="Simplex">Simplex</a>
            <a class="dropdown-item" id="Sketchy">Sketchy</a>
            <a class="dropdown-item" id="Slate">Slate</a>
            <a class="dropdown-item" id="Solar">Solar</a>
            <a class="dropdown-item" id="Spacelab">Spacelab</a>
            <a class="dropdown-item" id="Superhero">Superhero</a>
            <a class="dropdown-item" id="United">United</a>
            <a class="dropdown-item" id="Yeti">Yeti</a>
          </div>
      </li>
    </ul>
  {% else %}
    <ul class="navbar-nav mr-auto" style="font-size: 22px">
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('home') }}">主页</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('query_tickets') }}">查询-购买</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('query_order') }}">我的订单<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('user_modify_profile') }}">修改个人信息</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('admin_manage_master') }}">数据库管理</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="{{url_for('static',filename='index.html')}}">使用说明</a>
      </li>
      <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="themes" aria-expanded="false">主题 <span class="caret"></span></a>
          <div class="dropdown-menu" aria-labelledby="themes">
            <a class="dropdown-item" id="Flatly">Default</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" id="Cerulean">Cerulean</a>
            <a class="dropdown-item" id="Cosmo">Cosmo</a>
            <a class="dropdown-item" id="Cyborg">Cyborg</a>
            <a class="dropdown-item" id="Darkly">Darkly</a>
            <a class="dropdown-item" id="Journal">Journal</a>
            <a class="dropdown-item" id="Litera">Litera</a>
            <a class="dropdown-item" id="Lumen">Lumen</a>
            <a class="dropdown-item" id="Lux">Lux</a>
            <a class="dropdown-item" id="Materia">Materia</a>
            <a class="dropdown-item" id="Minty">Minty</a>
            <a class="dropdown-item" id="Pulse">Pulse</a>
            <a class="dropdown-item" id="Sandstone">Sandstone</a>
            <a class="dropdown-item" id="Simplex">Simplex</a>
            <a class="dropdown-item" id="Sketchy">Sketchy</a>
            <a class="dropdown-item" id="Slate">Slate</a>
            <a class="dropdown-item" id="Solar">Solar</a>
            <a class="dropdown-item" id="Spacelab">Spacelab</a>
            <a class="dropdown-item" id="Superhero">Superhero</a>
            <a class="dropdown-item" id="United">United</a>
            <a class="dropdown-item" id="Yeti">Yeti</a>
          </div>
      </li>
    </ul>
  {% endif %}
{% endblock %}

{% block navbar_right %}
<ul class="nav nav-pills">
    <li class="nav-item dropdown" style="font-size: 22px">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
           aria-expanded="false" style="color: white">Hi, {{ name }}</a>
        <div class="dropdown-menu" x-placement="bottom-start"
             style="font-size: 18px; position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 39px, 0px);">
            <a class="dropdown-item" href="{{ url_for('user_query_profile') }}">我的信息</a>
            <a class="dropdown-item" href="{{ url_for('query_order') }}">我的订单</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ url_for('logout') }}">注销</a>
        </div>
    </li>
</ul>
{% endblock %}

{% block body %}
<body background="{{ url_for('static', filename='shit.jpg') }}">
    <div class="container-fluid">
        <div class="jumbotron" style="opacity:0.9">

            <div class="row">
                <div class="col-md-12">
                    <h3 class="text-primary" style="text-align: center">
                        用户订单查询
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <form role="form" action="{{ url_for('query_order') }}" method="POST">
                        <fieldset>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-3"></div>
                                    <div class="col-md-6">
                                        <h5 style="text-align: left">请选择日期</h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3"></div>
                                    <div class="col-md-6">
                                        <div class="form-group">-
                                            <input required type="date" name="date" class="form-control" placeholder="YYYY-MM-DD">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-3"></div>
                                    <div class="col-md-2">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <h5 style="text-align: left">车辆种类</h5>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" name="C" class="custom-control-input"
                                                           id="customCheck1"
                                                           checked="">
                                                    <label class="custom-control-label" for="customCheck1">C</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" name="D" class="custom-control-input"
                                                           id="customCheck2"
                                                           checked="">
                                                    <label class="custom-control-label" for="customCheck2">D</label>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" name="G" class="custom-control-input"
                                                           id="customCheck3"
                                                           checked="">
                                                    <label class="custom-control-label" for="customCheck3">G</label>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" name="K" class="custom-control-input"
                                                           id="customCheck4"
                                                           checked="">
                                                    <label class="custom-control-label" for="customCheck4">K</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" name="O" class="custom-control-input"
                                                           id="customCheck5"
                                                           checked="">
                                                    <label class="custom-control-label" for="customCheck5">O</label>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" name="T" class="custom-control-input"
                                                           id="customCheck6"
                                                           checked="">
                                                    <label class="custom-control-label" for="customCheck6">T</label>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" name="Z" class="custom-control-input"
                                                           id="customCheck7"
                                                           checked="">
                                                    <label class="custom-control-label" for="customCheck7">Z</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                                <button type="submit" class="btn btn-primary btn-block">查询</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}
