<!--
    变量清单:
        user_name
        is_admin
        success_info
        err_info
-->

{% extends "base.html" %}

{% block css_files %}
{% endblock %}

{% block navbar_left %}
{% if not is_admin %}
<ul class="navbar-nav mr-auto" style="font-size: 22px">
  <li class="nav-item active">
    <a class="nav-link" href="index.html">主页<span class="sr-only">(current)</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="query.html">查询-购买</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="query.html">我的订单</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('usermodify') }}">修改个人信息</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="about.html">使用说明</a>
  </li>
</ul>
{% else %}
<ul class="navbar-nav mr-auto" style="font-size: 22px">
  <li class="nav-item active">
    <a class="nav-link" href="{{ url_for('home') }}">主页<span class="sr-only">(current)</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('home') }}">查询-购买</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="query.html">我的订单</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('usermodify') }}">修改个人信息</a>
  </li>
  <li>
      <a class="nav-link" href="{{ url_for('home') }}"> 数据库管理 </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="about.html">使用说明</a>
  </li>
</ul>
{% endif %}
{% endblock %}

{% block navbar_right %}
{% if not user_name %}
<form class="form-inline my-2 my-lg-0">
  <a class="nav-link" href="#" data-toggle="modal" data-target="#SignupModal" style="font-size: 22px">注册</a>
  <div class="modal" id="SignupModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" style="font-size: 28px">注册</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <div class="modal-body" >
          <form class="form-inline" action="{{ url_for('login') }}" method="post">
              <h2 style="margin-bottom: 10px;">请输入注册信息</h2>
              <label for="inputName" class="sr-only">Your name</label>
              <input type="text" style="width:100%" onblur="ajaxUpdate(this)" id="inputUsername" name="username" class="form-control" placeholder="User name" pattern="[0-9A-z]+" title="用户名仅支持数字和字母" required autofocus />
              <br/>
              <br/>
              <label for="inputName" class="sr-only">Username</label>
              <input type="text" style="width:100%" onblur="ajaxUpdate(this)" id="inputName" name="name" class="form-control" placeholder="Your name" pattern="[0-9A-z]+" title="姓名仅支持数字和字母" required autofocus />
              <br/>
              <br/>
              <label for="inputEmail" class="sr-only">Email address</label>
              <input type="text" style="width:100%" onblur="ajaxUpdate(this)" id="inputEmail" name="email" class="form-control" placeholder="Email address" pattern="^[A-Za-zd]+([-_.][A-Za-zd]+)*@([A-Za-zd]+[-.])+[A-Za-zd]{2,5}$" title="请输入正确的邮箱" required autofocus/>
              <br/>
              <br/>
              <label for="inputPhone" class="sr-only">Phone number</label>
              <input type="text" style="width:100%" onblur="ajaxUpdate(this)" id="inputPhone" name="phone" class="form-control" placeholder="Phone number" pattern="[0-9]+" title="请输入大陆电话号码"  required autofocus/>
              <br/>
              <br/>
              <label for="inputPassword" class="sr-only">Password</label>
              <input type="password" style="width:100%" onblur="ajaxUpdate(this)" id="inputPassword" name="password" class="form-control" placeholder="Password" pattern="[0-9A-z]+" title="password" required/>
              <br/>
              <br/>
              <label for="irepeatPassword" class="sr-only">Repeat password</label>
              <input type="password" style="width:100%" onblur="ajaxUpdate(this)" id="repeatPassword" name="repassword" class="form-control" placeholder="Repeat password" pattern="[0-9A-z]+" title="password" required/>
              <br/>
              <br/>
              <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
              <br/>
          </form>
        </div>
    </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
  </div>
  </div>
</form>

<form class="form-inline my-2 my-lg-0">
  <a class="nav-link" href="#" data-toggle="modal" data-target="#loginModal" style="font-size: 22px">登录</a>
  <div class="modal" id="loginModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" style="font-size: 28px">登录</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <div class="modal-body" >
          <form class="form-inline" action="{{ url_for('login') }}" method="post">
              <h2 style="margin-bottom: 10px;">欢迎使用</h2>
              <label for="inputName" class="sr-only">用户名</label>
              <input type="text" style="width:100%" onblur="ajaxUpdate(this)" id="inputName" name="name" class="form-control" placeholder="Your name" pattern="[0-9A-z]+" title="姓名仅支持数字和字母" required autofocus />
              <br/>
              <br/>
              <label for="inputPassword" class="sr-only">密码</label>
              <input type="password" style="width:100%" onblur="ajaxUpdate(this)" id="inputPassword" name="password" class="form-control" placeholder="Password" pattern="[0-9A-z]+" title="password" required/>
              <br/>
              <br/>
              <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
              <br/>
          </form>
        </div>
    </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
  </div>
  </div>
</form>
{% else %}
<ul class="nav nav-pills">
  <li class="nav-item dropdown" style="font-size: 22px">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Hi, {{user_name}}</a>
    <div class="dropdown-menu" x-placement="bottom-start" style="font-size: 18px; position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 39px, 0px);">
      <a class="dropdown-item" href="#">我的信息</a>
      <a class="dropdown-item" href="#">我的订单</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">注销</a>
    </div>
  </li>
</ul>
{% endif %}
{% endblock %}

{% block body %}
<body background="{{ url_for('static', filename='background.jpg') }}">
<div class="jumbotron" style="opacity:0.9">
  <h1 class="display-3" style="text-align: center">Welcome to ACM 12036 Systems!</h1>
  <p class="lead" style="text-align: center">Enjoy playing and remember to buy enough tickets to go home!</p>

  <div class="container col-md-12">
    <div class="row">
      <div class="col-md-4">
        <div class="card text-white bg-success mb-3" style="max-width: 50rem;">
            <div class="card-header" style="font-size: 24px">我的订单</div>
            <div class="card-body">
                <img src="{{ url_for('static', filename='ticketsforindex.jpg') }}" alt="车票" width=100% height=83% />
                <p class="card-text" style="font-size: 20px"> 您可以在这里查询已预定车票 </p>
            </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card text-white bg-info mb-3" style="max-width: 50rem;">
            <div class="card-header" style="font-size: 24px">查询车票</div>
            <div class="card-body">
                <img src="{{ url_for('static', filename='ticketsforindex.jpg') }}" alt="车票" width=100% height=83% />
                <p class="card-text" style="font-size: 20px"> 此处提供车次查询和车票预定服务 </p>
            </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card text-white bg-warning mb-3" style="max-width: 50rem;">
            <div class="card-header" style="font-size: 24px">使用说明</div>
            <div class="card-body">
                <img src="{{ url_for('static', filename='ticketsforindex.jpg') }}" alt="车票" width=100% height=83% />
                <p class="card-text" style="font-size: 20px">关于本系统的说明文档</p>
            </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="my-4">
  <p>This is only for ACM 2018 DataStruct Homework. If you want to buy real train tickets, click this button.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="http://www.12306.cn" target="_blank" role="button">Visit 12036</a>
  </p>
</div>
</body>
{% endblock %}
